.product-cash { margin-right: 20px; cursor: pointer; color: #00f; }
.product-edit { margin: 0px 20px; cursor: pointer; color: #00f; }
.product-delete { margin-left: 20px; cursor: pointer; color: #f00; }
.btn-disable { cursor: default; color: #808080 !important; }
.disabled-link { text-decoration: none; color: white; }
.disabled-link:hover { color: white; }

/* Create two columns that floats next to each other */
.main-column { float: left; width: 60% }
.column { float: right; width: 40% }
.row { margin: 0px !important; }
.row:after { content: ""; display: table; clear: both; }

/* Other setting */
.show-image { max-width: 120px; max-height: 120px; }
.form-label { margin-top:10px !important; }
#loadImage { margin-top: 35px; margin-left: 40px; max-width: 400px; max-height: 400px; }
.form-group > ul { color: #ff0000 }

/* Button setting */
#product_save { float: left; margin-top: 20px; width: 200px; }
#product_cancel { float: left; margin-top: 20px; margin-left: 20px; width: 200px; }
