<base href="../">
<meta charset="utf-8">
<meta name="author" content="Softnio">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
<!-- Fav Icon  -->
<link rel="shortcut icon" href="/dashlite/images/favicon.png'">
<!-- Page Title  -->
<title>Sales Dashboard | DashLite Admin Template</title>
<!-- StyleSheets  -->
<link rel="stylesheet" href="/dashlite/assets/css/dashlite.css">
<link id="skin-default" rel="stylesheet" href="/dashlite/assets/css/theme.css">
<link rel="stylesheet" href="/dashlite/assets/css/style-product.css">
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- JavaScript  -->
<script src="/dashlite/assets/js/scripts-product.js"></script>
<!-- Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
