{% extends 'category/layout.html.twig' %}

{% block title %} Demo Management {% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="example-alert">
            <div class="alert alert-success alert-icon">
                <span>{{ message }}</span>
            </div>
            <br>
        </div>
    {% endfor %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="card card-preview">
        <div class="card-inner">
            <div class="preview-block">
                <span class="preview-title-lg overline-title">Create category</span>
                <div class="row gy-4">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="form-label" for="default-1-02">Category name</label>
                            {{ form_widget(form.category, { 'attr': {'placeholder': 'Category name'|trans, 'class': 'form-control', 'id': 'default-1-02'}}) }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .card-preview -->
    {{ form_end(form) }}
{% endblock %}